<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    Back to <a href="/">Home</a>
    <ul>Search by
        <li><a href="/orders/date">Date</a></li>
        <li><a href="/orders">Orders</a></li>
    </ul>

    <h1>Our orders list by {{ title }}</h1>
    <ul>
    {% for order in orders %}
        <li>ID: {{ order.id }} <br> {{ title }}: {{ order.price }}
        </li>    <br>
    {% endfor %}
    </ul>


</body>
</html>